@model ProjetoLojaGames.Models.Funcionario
@{
    ViewBag.Title = "SucessFunc";
}


<h2>Dados do cliente cadastrados com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "CadFunc")</p>
<p>@Html.ActionLink("Visualizar Funcionário", "ListarFuncionario")</p>

