@model ProjetoLojaGames.Models.Jogo
@{
    ViewBag.Title = "Jogo Cadastrado";
}

<h2>Dados do Jogo cadastrados com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar","CadJogo")</p>
<p>@Html.ActionLink("Visualizar Jogo","ListarJogo")</p>

