@model ProjetoLojaGames.Models.Cliente
@{
    ViewBag.Title = "Cliente Cadastrado";
}

<h2>Dados do cliente cadastrados com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "CadCli")</p>
<p>@Html.ActionLink("Visualizar Cliente", "ListarCliente")</p>
